# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# binary program
test
client
server
simple/dtls_client
simple/dtls_server
simple/tls_server
simple/tls_client